{% extends "master.html" %}

{% block title %}
Todos los miembros
{% endblock %}

{% block content %}

<div class="mycard">
  <h1>Members</h1>
  <ul>
    {% for member in my_members %}
    
    {% comment "Este botón nos lleva a details/1" %}   
      <li onclick="window.location = 'details/{{ member.id }}'">{{ member.firstname }} {{ member.lastname }}</li>
    {% endcomment %}
    
    {# "Este botón lleva a /details/slug" #}
    <li onclick="window.location = 'details/{{ member.slug }}'">{{ member.firstname }} {{ member.lastname }}</li>
    {# "Este botón lleva a /delete/slug" #}
    <li onclick="window.location = 'delete/{{ member.slug }}'"> Borrar</li>
    {% endfor %}
  </ul>
</div>

{% comment %}
<h1 style="text-align: center;">Miembros</h1>

  {% for member in my_members %}
<div style="text-align: center; border-top: 1px solid black;">
<h2>Miembro - #{{ member.id }}</h2>
<ul style="list-style-type: none;">
    <li>Nombre completo: <a href="details/{{ member.id }}">{{ member.firstname }} {{ member.lastname }}</a></li>
    {% if member.phone %}<li>Teléfono: {{ member.phone }}</li>{% endif %}
    {% if member.joined_date %}<li>Fecha de alta: {{ member.joined_date }}</li>{% endif %}
</ul>
</div>
{% endcomment %}

{% endblock %}