{% block footer %}

<footer class="footer mb-0" 
{% if request.path != "/testing/" %}    
    style="position: absolute;"
{% endif %}
>
    <div class="col-4">
        <ul style="list-style-type: none;padding-left: 0;">
        {% if request.path %}
        <li>Volver a <a href="/">Inicio</a></li>
        {% endif %}

        {% if request.path != "/testing/" %}
        <li>Ir a <a href="/testing">Testing</a></li>
        {% endif %}
        </ul>

    <ul style="list-style-type: none;padding-left: 0;">
        <li><a href="#" target="_blank">Link</a></li>
        {% comment %}
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        {% endcomment %}
    </ul>
</footer>
{% endblock %}
