{% block footer %}

<footer class="mb-0">
    <div class="col-4">
        <ul style="list-style-type: none;padding-left: 0;">
        {% if request.path %}
        <li>Volver a <a href="/">Inicio</a></li>
        {% endif %}

        {% if request.path != "/testing/" %}
        <li>Ir a <a href="/testing">Testing</a></li>
        {% endif %}
        </ul>

    <ul style="list-style-type: none;padding-left: 0;">
        <li><a href="#" target="_blank">Enlace externo</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
    </ul>
</footer>
{% endblock %}
