{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body style="text-align: center;">

{% block content %}
{% endblock %}

{% if request.path %}
    <hr>
    Volver a <a href="/">Inicio</a>
{% endif %}

{% if request.path != "/testing/" %}
<h2>Testing</h2>
<div>
Ir a <a href="/testing">Testing</a>
{% endif %}

</div>

</body>
</html>