<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
<style>
  h3 {
    text-transform: uppercase;
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  h5 {
    font-size: 1.25rem;
    text-decoration: underline;
  }
</style>
<body style="text-align: center;">

{% block content %}
{% endblock %}

{% if request.path %}
    <hr>
    Volver a <a href="/">Inicio</a>
{% endif %}

{% if request.path != "/testing/" %}
<h2>Testing</h2>
<div>
Ir a <a href="/testing">Testing</a>
{% endif %}

</div>

</body>
</html>