<div>
    <nav style="background-color: beige;">
        <ul style="list-style-type: none;">
        <li style="display: inline-block; padding: 5px 20px;"><a href="#">Inicio</a></li>
        <li style="display: inline-block; padding: 5px 20px;"><a href="#">Link 1</a></li>
        <li style="display: inline-block; padding: 5px 20px;"><a href="#">Link 2</a></li>
        <li style="display: inline-block; padding: 5px 20px;"><a href="#">Link 3</a></li>
        <li style="display: inline-block; padding: 5px 20px;"><a href="#">Link 4</a></li>
        </ul>
    </nav>
</div>