{% block sidebar %}
<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul id="sidebar-nav" class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active d-flex justify-content-around mx-auto" aria-current="page">
        <i class="bi bi-house"></i>
        <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link d-flex justify-content-around mx-auto link-dark">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link d-flex justify-content-around mx-auto link-dark">
        <i class="bi bi-calendar-day"></i>
        <span>Orders</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link d-flex justify-content-around mx-auto link-dark">
        <i class="bi bi-apple"></i>
        <span>Products</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link d-flex justify-content-around mx-auto link-dark">
        <i class="bi bi-person"></i>
        <span>Customers</span>
        </a>
      </li>
    </ul>
    <hr>
    {% comment %}
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
    {% endcomment %}
</div>
{% endblock %}