{% extends "master.html" %}

{% block title %}
Testing
{% endblock %}

{% block content %}
<h1>Testing</h1>
<p>Esto es una prueba</p>

<hr>

<h2>Dato creado desde testing.html</h2>
{% with dato="mi dato" %}
<p>Dato: {{ dato }}</p>
{% endwith %}

<hr>

<h2>Datos de modelo Member</h2>
{% for member in members %}
  <p>{{ member.id }} - {{ member.firstname }}</p>
{% endfor %}

<hr>

<h2>Frutas</h2>

{% for fruta in frutas %}
  <p>{{ fruta }}</p>
{% endfor %}

<hr>

<h2>Django Tags</h2>

<h3 style="text-decoration: underline;">Autoescape</h3>

<p><strong>autoescape on</strong></p>
{% autoescape on %}
  {{ heading_no_esc }} <br>
  {{ heading_esc }}
{% endautoescape %}
<p><strong>autoescape off</strong></p>
{% autoescape off %}
  {{ heading_no_esc }} <br>
  {{ heading_esc }}
{% endautoescape %}

<hr>
<h3 style="text-decoration: underline;">Block</h3>
<pre>
  <code>
    {&#37; block nombre_del_bloque &#37;}
      Contenido
    {&#37; endblock &#37;}
  </code>
</pre>

<p><strong>Nota:</strong> el contenido de la plantilla secundaria con "extends..." reemplaza al contenido del bloque en <code>master.html</code>.</p>

<hr>
<h3 style="text-decoration: underline;">Comment</h3>
<!-- <p>Comentario en HTML</p> -->
{% comment "Explicación" %}
  Comentario en Django
{% endcomment %}

<pre>
  <code>
    &lt;!-- Comentario en HTML --&gt;

    {&#37; comment "Explicación" &#37;}
    Comentario en Django
    {&#37; endcomment &#37;}
  </code>
</pre>

<hr>

<h3 style="text-decoration: underline;">CSRF Token</h3>

<p>Volvemos sobre esto en formularios.</p>

<hr>

<h3 style="text-decoration: underline;">CSRF Token</h3>

<hr>

<h3 style="text-decoration: underline;">Cycle</h3>

<p>Itera sobre una lista de valores.</p>

<ul>  
  {% for fruta in frutas %}
    <li>
      {{ fruta }}: {% cycle 'dato_1' 'dato_2' 'dato_3' 'dato_4' %} 
    </li>
  {% endfor %}
</ul>

<pre>
  <code>
    {&#37; cycle "valor1" "valor2" "valor3" as nombre_de_variable &#37;}
  </code>
</pre>

<hr>

<h3 style="text-decoration: underline;">Debug</h3>
<p>Requiere la librería <code>django-debug-toolbar</code> para mostrar el contexto de la plantilla.</p>
<pre><code>
  {&#37; load debug &#37;}
  ...
  {&#37; debug &#37;}
</code></pre>

<hr>
<h3 style="text-decoration: underline;">Extends</h3>
<p>Extiende una plantilla base.</p>

<strong>plantilla_secundaria.html</strong>
<pre><code>
  {&#37; extends "master.html" &#37;}
  {&#37; block title &#37;}
    Testing
  {&#37; endblock &#37;}
  {&#37; block content &#37;}
    Contenido de la plantilla secundaria
  {&#37; endblock &#37;}
</code></pre>

<strong>master.html</strong>
<pre><code>
  {&#37; block content &#37;}
    Contenido de la plantilla secundaria
  {&#37; endblock &#37;}
</code></pre>

<hr>

<h3>Filter</h3>

<h4>Default if None</h4>
<p>Filtra los None por un valor por defecto.</p>
<ul>
{% for color in colors %}
  <li>{{ color|default_if_none:"No hay color" }}</li>
{% endfor %}
</ul>
<pre><code>
  &lt;ul&gt;
    {&#37; for color in colors &#37;}
      &lt;li&gt;{{ color|default_if_none:"No hay color" }}&lt;/li&gt;
    {&#37; endfor &#37;}
    &lt;/ul&gt;
</code></pre>

<h4>Word Count</h4>
{% with text='This is an example of a string.' %}
  Original text: "{{ text }}"
  Word count: {{ text|wordcount }}
{% endwith %}

<pre><code>
  {&#37; with text='This is an example of a string.' &#37;}
  Original text: "{{ text }}"
  Word count: {{ text|wordcount }}
  {&#37; endwith &#37;}
</code></pre>

<h4>Date</h4>

<h5>Footer</h5>
{% now "Y" as current_year %}
<p>Copyright {{ current_year }}</p>

<h5>Formato de fecha por defecto</h5>
{% now "Y-m-d" as current_date %}
<p>Fecha actual: {{ current_date }}</p>

{% now "Y-m-d H:i:s" as current_datetime %}
<p>Fecha y hora actual: {{ current_datetime }}</p>

<h5>Formato de fecha en español</h5>
{% now "d-m-Y H:i:s" as current_datetime %}
<p>Fecha y hora: {{ current_datetime }}</p>

{% now "d" as current_day %}

{% now "m" as current_month %}
{% with current_month_idx=current_month|add:-1 %}

{% now "Y" as current_year %}

{% now "H" as current_hour %}
{% now "i" as current_minute %}
{% now "s" as current_second %}

{% now "d-m-Y H:i:s" as current_datetime %}

<!-- current_month_idx es 0 pero no accede al dato meses.current_month_idx -->
<p>Hoy, {{ current_day }} de {{ meses.0 }} de {{ current_year }} ... </p>
{% endwith %}

<h4>Floatformat</h4>
Formato de float como divisa:
<p>{{ 7.122489|floatformat:2 }}€</p>
<p>{{ 7.1|floatformat:2 }}€</p>
<p>{{ 7|floatformat:2 }}€</p>

<h4>Linebreaks</h4>

<h5>Texto con salto de líneas</h5>
<p>{{ texto|linebreaks }}</p>

<h5>Texto con saltos con &lt;br&gt;</h5>
<p>{{ texto|linebreaksbr }}</p>

<h5>Texto con número de línea</h5>
<p>{{ texto|linenumbers }}</p>

<h4>Justificado izquierda con ljust</h4>
<p style="text-align:justify;">{{ texto|ljust:50 }}</p>

<h4>phone2numeric</h4>
<p>Teléfono {{ phone }}: {{ phone|phone2numeric }}</p>

<h4>Pluralize</h4>
<div>
  {% for elemento in lista %}
  <p>Te quedan {{ elemento }} manzana{{ elemento|pluralize }} en la cesta.</p>
  {% endfor %}
</div>

<h4>Random</h4>
<p>Elemento aleatorio de lista: {{ lista|random }}</p>

<h4>Slice</h4>
<p>Slice: {{ texto_2|slice:"0:11" }}</p>

<h4>Slugify</h4>
<p>Slug: /{{ texto_2|slugify|slice:"0:11" }}</p>

<h4>Stringformat</h4>
<p>Total price: {{ total_price|floatformat:2|default:0}} €</p>
<p>Total price: {{ total_price_2|floatformat:2|default:0}} €</p>
<p>Total price: {{ total_price_2|floatformat:2|default:0|default_if_none:0}} €</p>

<h4>Quitar etiquetas HTML</h4>
<p>{{ heading_no_esc|striptags }}</p>
<p>{{ html|striptags }}</p>

<h4>Time</h4>
{% now "d-m-Y H:i" as current_datetime %}
<p>Fecha y hora: {{ current_datetime }}</p>

{% now "H:i" as current_time %}
<p>Hora: {{ current_time }} h</p>

{% comment "No salen los valores de time. La variable tiene datos asi que es algo con el filter time." %}
<p>{{ current_datetime|time:"H:i" }}</p>
<p>Time now: {{ current_datetime|time:"H:i" }}</p>
<p>Time now (AM/PM format): {{ current_datetime|time:"g:i a" }}</p>
<p>Time now (12-hour format): {{ current_datetime|time:"h:i" }}</p>
<p>Time now (24-hour format): {{ current_datetime|time:"H:i" }}</p>
{% endcomment %}

<h4>Timesince</h4>
<p>Tiempo transcurrido entre {{ date_1|date:"d-m-Y" }} y {{ date_2|date:"d-m-Y" }}: {{ date_1|timesince:date_2 }}</p>

<h4>Timeuntil</h4>
<p>Tiempo restante entre {{ date_1|date:"d-m-Y" }} y {{ date_3|date:"d-m-Y" }}: {{ date_3|timeuntil:date_1 }}</p>

<h4>Truncatewords</h4>
<p>Palabras recortadas a 10: {{ texto_3|truncatewords:10 }}</p>

<h4>Pasando listas a &lt;li&gt;</h4>
<div style="width: 50px; margin: 0 auto;">
  <ul>
    {{ lista|unordered_list }}
  </ul>
</div>

<h4>Wordcount</h4>
<p>Número de caracteres: {{ texto|length }}</p>
<p>Número de palabras: {{ texto|wordcount }}</p>

<hr>

<h3>Ifchanged</h3>
<div style="width: 50px; margin: 0 auto;">
<ul>
  {% for elemento in lista_2 %}
    {% ifchanged %}
      <li>{{ elemento }}</li>
    {% endifchanged %}
  {% endfor %}
</ul>
</div>

<h3>Include</h3>
<p>Menú navbar de <code>navbar.html</code>:</p>
{% include "navbar.html" %}
<p>Include sin pasar las variables:</p>
{% include "navbar2.html" %}
<p>Include pasando las variables:</p>
{% include "navbar2.html" with var_1="Variable 1" var_2="Variable 2" %}

{% endblock %}